# Частина друга: Аналіз файлів

In [9]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv

*!!! Работаю в Colab (чтение файла с Google Drive)*

In [21]:
file_path = '/content/drive/MyDrive/Colab Notebooks/2017_jun_final.csv'
data = pd.read_csv(file_path)

Прочитайте отриману таблицю, використовуючи метод head

In [13]:
print(data.head())

   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]

Визначте розмір таблиці за допомогою методу shape

In [14]:
print(data.shape)

(8704, 25)

Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [15]:
print(data.dtypes)

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [16]:
print(data.isnull().sum())

N                                      0
Посада                                 0
Мова програмування                  3850
Спеціалізація                       7219
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Університет                          358
Ще студент                             0
Рівень англійської                     0
Предметна область                    223
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

In [27]:
columns_to_drop = [col for col in data.columns if col != 'Мова програмування' and data[col].isnull().any()]
data_cleaned = data.drop(columns=columns_to_drop)

print(data_cleaned)

         N                    Посада Мова програмування  \
0        1        Junior QA engineer                NaN
1        2        Junior QA engineer                NaN
2        3         Software Engineer            C#/.NET
3        4         Software Engineer         JavaScript
4        5  Senior Software Engineer         JavaScript
...    ...                       ...                ...
8699  8700               QA engineer                NaN
8700  8701                 Marketing                NaN
8701  8702  Junior Software Engineer         Ruby/Rails
8702  8703                 Team lead                NaN
8703  8704  Senior Software Engineer               Java

     Загальний досвід роботи Досвід роботи на поточному місці  \
0                        0.5                              0.5
1            менше 3 місяців                  менше 3 місяців
2                          4                                1
3                          5                                4
4          10 і більше років                              0.5
...                      ...                              ...
8699                       1                  менше 3 місяців
8700                     0.5                              0.5
8701                       1                              0.5
8702                       6                                4
8703                       7                                2

      Зарплата на місяць  Зміна зарплати за 12 місяців   Місто  \
0                    400                             0  Харків
1                    430                           130  Харків
2                   2500                           800    Київ
3                   2000                           400   Одеса
4                   4500                           500    Інше
...                  ...                           ...     ...
8699                 700                           700   Одеса
8700                 400                           120    Київ
8701                 800                           500   Львів
8702                2600                             0  Дніпро
8703                5000                           800   Одеса

       Розмір компанії   Тип компанії     Стать  Вік             Освіта  \
0           до 10 осіб  Аутсорсингова    жіноча   20       Неповна Вища
1     більше 1000 осіб  Аутсорсингова    жіноча   21       Неповна Вища
2         до 1000 осіб  Аутсорсингова  чоловіча   26               Вища
3          до 200 осіб     Продуктова  чоловіча   30            Середня
4           до 10 осіб     Продуктова  чоловіча   30  Технікум / Коледж
...                ...            ...       ...  ...                ...
8699        до 50 осіб  Аутсорсингова  чоловіча   23               Вища
8700        до 50 осіб     Продуктова    жіноча   22               Вища
8701        до 10 осіб  Аутстафінгова  чоловіча   30       Неповна Вища
8702  більше 1000 осіб  Аутсорсингова  чоловіча   34               Вища
8703      до 1000 осіб     Продуктова  чоловіча   28               Вища

      Ще студент                    Рівень англійської      Дата заповнення  \
0           True    Pre-intermediate (нище середнього)  12/06/2017 12:38:08
1           True  Upper-Intermediate (вище середнього)  12/06/2017 12:42:51
2          False               Intermediate (середній)  12/06/2017 13:02:47
3          False    Pre-intermediate (нище середнього)  12/06/2017 13:03:01
4          False               Intermediate (середній)  12/06/2017 13:03:47
...          ...                                   ...                  ...
8699       False               Intermediate (середній)  12/07/2017 15:45:24
8700       False    Pre-intermediate (нище середнього)  12/07/2017 17:00:06
8701       False  Upper-Intermediate (вище середнього)  12/07/2017 17:32:26
8702       False                 Advanced (просунутий)  12/07/2017 18:14:59
8703       False  Upper-Intermediate (вище середнього)  12/07/2017 21:28:57

                                             User.Agent   exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
...                                                 ...   ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
0                 0.5     400
1                 0.0     430
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
...               ...     ...
8699              0.0     700
8700              0.5     400
8701              0.5     800
8702              4.0    2600
8703              2.0    5000

[8704 rows x 20 columns]

Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [26]:
print(data_cleaned.isnull().sum())

N                                      0
Посада                                 0
Мова програмування                  3850
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Ще студент                             0
Рівень англійської                     0
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

In [28]:
data_cleaned = data_cleaned.dropna()
print(data_cleaned.isnull().sum())

N                                   0
Посада                              0
Мова програмування                  0
Загальний досвід роботи             0
Досвід роботи на поточному місці    0
Зарплата на місяць                  0
Зміна зарплати за 12 місяців        0
Місто                               0
Розмір компанії                     0
Тип компанії                        0
Стать                               0
Вік                                 0
Освіта                              0
Ще студент                          0
Рівень англійської                  0
Дата заповнення                     0
User.Agent                          0
exp                                 0
current_job_exp                     0
salary                              0
dtype: int64

Визначте новий розмір таблиці за допомогою методу shape

In [29]:
print(data_cleaned.shape)

(4854, 20)

Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [30]:
python_data = data_cleaned[data_cleaned['Мова програмування'].str.contains('Python', na=False)]

print(python_data)

         N                    Посада Мова програмування  \
12      13         Software Engineer             Python
68      69         Software Engineer             Python
87      88  Junior Software Engineer             Python
114    115  Junior Software Engineer             Python
143    144  Junior Software Engineer             Python
...    ...                       ...                ...
8546  8547         Software Engineer             Python
8625  8626         Software Engineer             Python
8635  8636  Senior Software Engineer             Python
8673  8674  Junior Software Engineer             Python
8695  8696         Software Engineer             Python

     Загальний досвід роботи Досвід роботи на поточному місці  \
12                         1                  менше 3 місяців
68                       1.5                              0.5
87                       0.5                              0.5
114                      1.5                              0.5
143                        1                                1
...                      ...                              ...
8546                       5                                1
8625                       4                                1
8635       10 і більше років                  менше 3 місяців
8673                     0.5                              0.5
8695                       1                              0.5

      Зарплата на місяць  Зміна зарплати за 12 місяців      Місто  \
12                   800                           200       Київ
68                   900                           900       Київ
87                   600                             0       Київ
114                  685                           250       Київ
143                  750                           250       Київ
...                  ...                           ...        ...
8546                2000                           800  Запоріжжя
8625                1750                             0       Київ
8635                4000                          1300  Віддалено
8673                 350                            50       Київ
8695                1500                          1000       Київ

       Розмір компанії   Тип компанії     Стать  Вік        Освіта  \
12          до 50 осіб  Аутсорсингова  чоловіча   26          Вища
68          до 10 осіб        Стартап  чоловіча   21  Неповна Вища
87          до 10 осіб  Аутсорсингова  чоловіча   19  Неповна Вища
114       до 1000 осіб  Аутсорсингова  чоловіча   21  Неповна Вища
143         до 10 осіб  Аутсорсингова  чоловіча   21  Неповна Вища
...                ...            ...       ...  ...           ...
8546        до 50 осіб  Аутсорсингова  чоловіча   22  Неповна Вища
8625  більше 1000 осіб  Аутсорсингова  чоловіча   28       Середня
8635        до 10 осіб        Стартап  чоловіча   33          Вища
8673        до 50 осіб  Аутсорсингова  чоловіча   22          Вища
8695        до 10 осіб        Стартап  чоловіча   29          Вища

      Ще студент                    Рівень англійської      Дата заповнення  \
12         False    Pre-intermediate (нище середнього)  12/06/2017 13:05:54
68          True  Upper-Intermediate (вище середнього)  12/06/2017 13:11:17
87          True  Upper-Intermediate (вище середнього)  12/06/2017 13:12:25
114        False               Intermediate (середній)  12/06/2017 13:14:52
143         True  Upper-Intermediate (вище середнього)  12/06/2017 13:19:10
...          ...                                   ...                  ...
8546       False               Intermediate (середній)  10/07/2017 14:11:26
8625       False               Intermediate (середній)  11/07/2017 16:15:40
8635       False  Upper-Intermediate (вище середнього)  11/07/2017 17:51:36
8673       False               Intermediate (середній)   12/07/2017 9:37:16
8695       False               Intermediate (середній)  12/07/2017 14:39:21

                                             User.Agent   exp  \
12    Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.0
68    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.5
87    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.5
114   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.5
143   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
...                                                 ...   ...
8546  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8625  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   4.0
8635  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.0
8673  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   0.5
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0

      current_job_exp  salary
12                0.0     800
68                0.5     900
87                0.5     600
114               0.5     685
143               1.0     750
...               ...     ...
8546              1.0    2000
8625              1.0    1750
8635              0.0    4000
8673              0.5     350
8695              0.5    1500

[207 rows x 20 columns]

Визначте розмір таблиці python_data за допомогою методу shape

In [31]:
print(python_data.shape)

(207, 20)

Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [39]:
aggregated_data = python_data.groupby('Посада').agg({'Зарплата на місяць': ['min', 'max']})

print(aggregated_data)

                         Зарплата на місяць
                                        min   max
Посада
Junior Software Engineer                100  1250
Senior Software Engineer               1300  9200
Software Engineer                       500  5400
System Architect                       3000  5000
Technical Lead                         1425  6200

Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [40]:
def fill_avg_salary(row):
    # Вычисление среднего значения зарплаты на месяц
    avg_salary = (row['Зарплата на місяць']['min'] + row['Зарплата на місяць']['max']) / 2
    return avg_salary

# Создание нового столбца "avg" с использованием функции fill_avg_salary
aggregated_data['avg'] = aggregated_data.apply(fill_avg_salary, axis=1)

# Вывод данных с новым столбцом "avg"
print(aggregated_data)

                         Зарплата на місяць           avg
                                        min   max
Посада
Junior Software Engineer                100  1250   675.0
Senior Software Engineer               1300  9200  5250.0
Software Engineer                       500  5400  2950.0
System Architect                       3000  5000  4000.0
Technical Lead                         1425  6200  3812.5

Створіть описову статистику за допомогою методу describe для нового стовпчика.

In [41]:
aggregated_data_describe = pd.DataFrame(aggregated_data['avg'].describe())
print(aggregated_data_describe)

               avg
count     5.000000
mean   3337.500000
std    1700.091909
min     675.000000
25%    2950.000000
50%    3812.500000
75%    4000.000000
max    5250.000000

Збережіть отриману таблицю в CSV файл

In [44]:
output_file_path = '/content/drive/MyDrive/Colab Notebooks/avg_salary_stats.csv'
aggregated_data_describe.to_csv(output_file_path, index=False)